<!-- app/views/layouts/_navbar.html.erb -->
<nav class="bg-[#6DAAFF] shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <!-- ãƒ­ã‚´ -->
      <div class="flex-shrink-0">
        <%= link_to "ðŸºé£²ã¿RECðŸ”´", root_path, class: "text-xl font-bold text-pink-600" %>
      </div>

      <!-- ãƒ¡ãƒ‹ãƒ¥ãƒ¼ -->
      <div class="md:flex space-x-4">
        <% if user_signed_in? %>
          <%= link_to "æŽ¢ã™", posts_path, class: "text-gray-700 hover:text-blue-600" %>
          <%= link_to "æ–°è¦æŠ•ç¨¿", new_post_path, class: "text-gray-700 hover:text-blue-600" %>
          <%#= link_to "ãƒžã‚¤ãƒšãƒ¼ã‚¸", '#', class: "text-gray-700 hover:text-blue-600" %>
          <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-gray-700 hover:text-blue-600" %>
        <% else %>
          <%#= link_to "ãƒ›ãƒ¼ãƒ ", root_path, class: "text-gray-700 hover:text-blue-600" %>
          <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path, class: "text-gray-700 hover:text-blue-600" %>
          <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path, class: "text-gray-700 hover:text-blue-600" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>